.contact {
    max-width: 1024px;
/* MARGIN SYNTAX
margin: (top/bottom) (left/right);
*/
    margin: 1em auto;
}
/* # is used for id, . is used for class
there can only be one id
id also has more priority over class */
.contact-page {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    padding: 0px 0px 0px 40px;
}
.contactdetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 0px 0px 70px;
}
.contactdetails p {
    line-height: 1.8;
}
.googlemap {
    margin: 0px 0px 0px 20px;
}
.contact {
    padding: 0px 40px 0px 40px;
}
#contact-form {
    display: flex;
    flex-direction: column;
    /* background-color: lightgrey; */
}
#contact-form label {
    font-weight: bold;
    margin-top: 1em;
    padding-bottom: 5px;
}
#contact-form input {
    padding: 0.5em;
    box-sizing: border-box;
}
#contact-form textarea {
    padding: 0.5em;
    box-sizing: border-box;
}
#contact-form button {
    margin-top: 1em;
    align-self: center;
    width: 100px;
    background-color: burlywood;
    color: brown;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 10px;
}
#contact-form button:hover {
    border: 2px solid black;
}
#col2 {
    background-color: #dec7c4;
    background-position: left bottom;
    margin: 25px 70px 0px 80px;
}

.contactdetails p {
    border-left: 1px solid grey;
    padding: 0 0 0 20px;
}
