.header {
    background-color: rgb(104,37,36);
    background-image: linear-gradient(to right, rgb(104,37,36), rgb(104,37,36), white);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo {
    width: 500px;
}
.navigation {
    justify-self: end;
    align-self: end;
    display: flex;
}
.navigation a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}
/* Changes style when hovering over navigation button */
.navigation a:hover {
    color: white;
    background-color: rgb(66, 26, 26);
}
/* Shows which navigation page is currently open */
.navigation a.active {
    font-weight:bold;
}