.pricingcontainer {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
/* MARGIN SYNTAX
margin: (top/bottom) (left/right);
*/
    margin: 0px 20px 0px 0px;
}
.grid2 {
    padding: 10px 40px 40px 0px;
}
ul li {
    padding-bottom: 10px;
}
.pricingbottom {
    padding-bottom: 10px;
}
.contactlink a:hover {
    color: #87423c;
}
.contactlink a:active {
    color: navy;
}