html, body {
    /* vh = viewport height / window height */
    min-height: 100vh;
}
body {
    background-color:rgb(52, 126, 201);
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* 1fr = rest of the available space after header and footer are on auto */
}
.logo {
    width: 100px;
}